.cavitasDocsView {
  margin: 2rem 5rem 0 380px;

  @media (max-width: 1150px) {
    margin: 2rem 1rem 0 316px;
  }

  @media (max-width: 1000px) {
    margin: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;

    p {
      font-size: 1.5rem;
      color: $BUTTON_RED;
      margin-left: .5rem;
    }

    &__icon {
      color: $BUTTON_RED;
      font-size: 2rem !important;
    }
  }

  &__container {
    margin-top: 2rem;

    &__cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__card {
        width: 45%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 1.5rem;
        background-color: $INPUT_BG;
        margin-bottom: 2rem;
        margin-right: 1rem;

        @media (max-width: 700px) {
          width: 100%;
          margin-right: 0;
        }

        p {
          font-weight: bolder;
          font-size: .9rem;
        }

        span {
          font-size: .7rem;
          margin-top: .5rem;
        }

        &__icons {
          border-top: 1px solid lightgray;
          margin-top: .5rem;
          padding-top: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &__icon {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}