.claims {
  // background-color: $BG_PINK;
  // height: 250px;
  // width: 100%;
  padding: 0 10%;
  margin-top: -220px;

  @media (max-width: 1250px) {
    padding: 0;
  }

  &__container {
    margin: 5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }

    &__picture {
      width: 35%;

      @media (max-width: 1000px) {
        width: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__claimsPortal {
      margin: 0 1rem 2rem 1rem;
      padding: 2rem;
      box-shadow: $BOX_SHADOW;
      border-radius: 1rem;
      background-color: white;
      width: 60%;

      @media (max-width: 1000px) {
        width: 100%;
        margin: 0 1rem 2rem 1rem;

      }

      header {
        text-align: center;

        h1 {
          font-size: 1.8rem;
          font-weight: bolder;
          color: $BUTTON_RED;
        }

        p {
          margin-top: 1rem;
          font-size: .9rem;
        }
      }

      &__loginBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        &__details {
          display: flex;
          flex-direction: column;
          width: 400px;

          @media (max-width: 750px) {
            width: 100%;
          }

          p {
            color: $BUTTON_RED;
            font-weight: 600;
            text-transform: capitalize;
            font-size: .9rem;
          }

          input {
            margin-top: .7rem;
            border-radius: 1.5rem;
            outline: none;
            background-color: $BG_PINK;
            border: 1px solid lightgray;
            padding: .5rem 1rem;
          }

          div {
            display: flex;
            justify-content: flex-end;

            Button {
              margin-top: 1rem;
              color: white;
              background-color: $BUTTON_RED !important;
              border-radius: 1.5rem;
              font-family: "poppins";
              padding: .4rem 2rem;
            }
          }

          &__links {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: start;
            margin-top: 1rem;

            p {
              font-weight: 500;
              color: black;
              font-size: .9rem;

              a {
                text-decoration: unset;
                font-weight: 600;
                text-transform: none;
                color: $BUTTON_GREEN;
              }
            }
          }
        }
      }
    }
  }
}