.insuredClientView {
  margin: 2rem 5rem 0 380px;

  @media (max-width: 1150px) {
    margin: 2rem 1rem 0 316px;
  }

  @media (max-width: 1000px) {
    margin: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }

    &__left {
      display: flex;
      align-items: center;

      &__icon {
        font-size: 2rem !important;
        color: $BUTTON_RED;
      }

      p {
        font-size: 1.5rem;
        color: $BUTTON_RED;
        margin-left: .5rem;
      }
    }

    &__right {
      @media (max-width: 700px) {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      input {
        border-radius: 1.5rem;
        outline: none;
        border: 2px solid black;
        padding: .3rem .5rem;
        width: 200px;

        @media (max-width: 700px) {
          width: 100%;
        }
      }

      input::placeholder {
        font-weight: 500;
      }

      &__icon {
        position: absolute;
        margin-left: -2rem;
        margin-top: .3rem;
      }
    }
  }

  &__container {
    margin-top: 2rem;
    overflow: auto;

    table {
      width: 100%;
      min-width: 40rem;

      thead {
        tr {
          th {
            font-weight: 500;
            text-align: start;
          }
        }
      }

      tbody {

        tr {
          &:nth-child(1) {
            padding-top: 2rem;
          }

          td {
            &:nth-last-child(1) {
              text-align: right;

              Button {
                color: black !important;
                font-weight: 600 !important;
              }
            }
          }
        }
      }
    }
  }
}

.insuredClientGroup {
  margin: 1rem 5rem 0 380px;

  @media (max-width: 1150px) {
    margin: 1rem 1rem 0 316px;
  }

  @media (max-width: 1000px) {
    margin: 1rem;
  }

  &__back {
    display: flex;
    align-items: center;
    color: $BUTTON_RED;
    font-size: .9rem;

    &__icon {
      font-size: 1rem !important;
    }
  }

  &__header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: $BUTTON_RED;
    font-size: 1.5rem;
    text-transform: uppercase;

    &__icon {
      font-size: 2rem !important;
      color: $BUTTON_RED;
      margin-right: .5rem;
    }
  }

  &__container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    &__cardsBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
      }

      &__left {
        width: 47%;

        @media (max-width: 700px) {
          width: 100%;
          margin-right: 0;
        }
      }

      &__right {
        width: 47%;

        @media (max-width: 700px) {
          width: 100%;
          margin-right: 0;
        }
      }

      &__card {
        background-color: $INPUT_BG;
        border-radius: 1.5rem;
        padding: 1rem 1.5rem;
        min-width: 300px;
        margin-bottom: 2rem;
        margin-right: 1rem;

        @media (max-width: 700px) {
          margin-right: 0;
        }

        &__top {
          p {
            font-weight: bolder;
            border-bottom: 1px solid lightgray;
            padding-bottom: .3rem;
          }
        }

        &__detailsBox {
          display: flex;
          flex-direction: column;
          font-size: .8rem;
          margin-top: 1rem;

          &__data {
            display: flex;
            align-items: flex-start;
            margin-bottom: .7rem;

            &__name {
              width: 50%;
            }

            &__iconsBox {
              display: flex;
              align-items: center;

              &__icon {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
  }

  &__container2 {
    margin-top: 3rem;

    &__insuredPerson {
      &__header {
        display: flex;
        justify-content: space-between;

        @media (max-width: 500px) {
          display: flex;
          flex-direction: column;
        }

        p {
          font-weight: bolder;
        }

        div {
          @media (max-width: 500px) {
            margin-top: 1rem;
          }

          input {
            border-radius: 1.5rem;
            border: 2px solid black;
            width: 200px;
            outline: none;
            padding: .3rem 1rem;

            @media (max-width: 500px) {
              width: 100%;
            }
          }
        }

        &__icon {
          position: absolute;
          margin-left: -2rem;
          margin-top: .3rem;
        }
      }

      &__tableBox {
        margin-top: 1rem;
        overflow: auto;

        table {
          width: 100%;
          min-width: 40rem;
          border-collapse: collapse;

          thead {
            tr {
              th {
                font-size: .8rem;
                font-weight: 500;
                border: 1px solid black;
                padding: .1rem;
              }
            }
          }

          tbody {
            tr {
              td {
                font-size: .8rem;
                border: 1px solid black;
                padding: .1rem;
              }
            }
          }
        }
      }
    }
  }
}