.landingPage {
  margin-top: -220px;
  &__smartInsurance {
    padding: 4rem 1rem;
    margin: 0 10%;

    @media (max-width: 1250px) {
      margin: 0%;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }

      &__details {
        display: flex;
        flex-direction: column;
        width: 45%;

        @media (max-width: 1000px) {
          width: 100%;
        }

        &__heading {
          font-size: 2.5rem;
          font-weight: 600;
        }

        &__heading2 {
          font-size: 2.5rem;
          font-weight: bolder;
          color: $BUTTON_RED;
        }

        &__desc {
          margin-top: .5rem;
          font-weight: 500;
        }

        &__buttons {
          margin-top: 2rem;
          display: flex;
          flex-wrap: wrap;

          a {
            text-decoration: none !important;
          }

          Button {
            margin-right: .5rem;
            color: black;
            border-radius: 1.5rem !important;
            border: 1px solid black !important;
            margin-bottom: .5rem;
          }
        }
      }

      &__picture {
        width: 45%;

        @media (max-width: 1000px) {
          width: 100%;
          margin-top: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__ourOffer {
    padding: 4rem 1rem;
    margin: 0 10%;

    @media (max-width: 1250px) {
      margin: 0%;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      p {
        font-size: .9rem;
      }
    }

    &__container {
      margin-top: 3rem;

      &__boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-align: center;

        @media (max-width: 750px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &__detailsContainer {
          border: 1px solid lightgray;
          border-radius: 1rem;
          width: 300px;
          padding-bottom: 1rem;

          @media (max-width: 750px) {
            margin-bottom: 2rem;
          }

          &__heading {
            background-color: $BUTTON_GREEN;
            border-radius: 1rem 1rem 0 0;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            padding: .3rem;
            margin-bottom: 1rem;
          }

          &__tickBox {
            margin-top: .2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid lightgray;
            padding-bottom: .3rem;
            width: 160px;
            margin-left: 4.5rem;
            margin-bottom: .3rem;

            &__tickImage {
              margin-right: .2rem;
              width: 15px;
            }

            &__desc {
              font-size: .8rem;
            }
          }

          BUtton {
            text-transform: none;
            color: white !important;
            background-color: $BUTTON_RED !important;
            border-radius: 1.5rem;
            margin-top: .5rem;
          }
        }
      }
    }
  }

  &__valuableReadings {
    padding: 4rem 1rem;
    margin: 0 10%;

    @media (max-width: 1250px) {
      margin: 0%;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      p {
        font-size: .9rem;
        color: $BUTTON_RED;
      }
    }

    &__container {
      margin-top: 3rem;

      &__cardsBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        &__card {
          width: 300px;
          margin: 0 1rem;

          @media (max-width: 1050px) {
            margin-bottom: 2rem;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid lightgray;
            border-radius: 1rem 1rem 0 0;
          }

          &__name {
            margin-top: 1rem;
            margin-left: 1rem;
            font-weight: 600;
            color: $BUTTON_RED;
            font-size: .9rem;
            margin-bottom: .5rem;
          }

          &__date {
            margin-left: 1rem;
            font-weight: 600;
            color: gray;
            font-size: .8rem;
          }

          &__desc {
            margin-top: .5rem;
            margin-left: 1rem;
            font-weight: 600;
            font-size: .8rem;
          }
        }
      }
    }
  }

  &__howItwork {
    padding: 4rem 1rem;
    margin: 0 10%;

    @media (max-width: 1250px) {
      margin: 0%;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }

      &__details {
        display: flex;
        flex-direction: column;
        width: 45%;

        @media (max-width: 1000px) {
          width: 100%;
        }

        &__heading {
          font-size: 2.5rem;
          font-weight: 600;
        }

        &__desc {
          margin-top: .5rem;
          font-weight: 500;
          color: $BUTTON_RED;
          font-weight: bolder;
        }

        &__detailsContainer {
          margin: .5rem;

          &__box {
            display: flex;
            align-items: center;

            &__icon {
              color: $BUTTON_RED;
              font-size: 1.2rem !important;
            }

            &__text {
              margin-left: .3rem;
              font-weight: 500;
              font-size: .8rem;
              color: gray;
            }
          }
        }
      }

      &__picture {
        width: 45%;

        @media (max-width: 1000px) {
          width: 100%;
          margin-bottom: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__allCare {
    background-color: $BUTTON_GREEN;
    padding: 4rem 10%;

    @media (max-width: 1250px) {
      padding: 4rem 1rem;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }

      &__details {
        display: flex;
        flex-direction: column;
        width: 45%;

        @media (max-width: 1000px) {
          width: 100%;
        }

        &__heading {
          font-size: 2.5rem;
          font-weight: 600;
          color: white;
        }

        &__desc {
          margin-top: .5rem;
          font-weight: 500;
          color: white;
          font-weight: 500;
        }

        &__detailsContainer {
          margin: 1rem 0 0 .5rem;

          &__box {
            display: flex;
            align-items: center;

            &__icon {
              color: white;
              font-size: 1rem !important;
            }

            &__text {
              margin-left: .3rem;
              font-size: .8rem;
              color: white;
            }
          }
        }

        &__imageContainer {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;

          img {
            object-fit: cover;
            width: 220px;
            margin-bottom: 1rem;
          }
        }
      }

      &__picture {
        width: 45%;

        @media (max-width: 1000px) {
          width: 100%;
          margin-top: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}