.supportView {
  margin: 2rem 5rem 0 380px;

  @media (max-width: 1150px) {
    margin: 2rem 1rem 0 316px;
  }

  @media (max-width: 1000px) {
    margin: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__iconBox {
      display: flex;
      align-items: center;

      &__icon {
        color: $BUTTON_RED !important;
        font-size: 2rem !important
      }

      p {
        margin-left: .3rem;
        text-transform: uppercase;
        font-size: .8rem;
        color: $BUTTON_RED;
        font-size: 1.5rem;
      }
    }
  }

  &__details {
    margin-top: 2rem;
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgray;

    &__table {
      width: 100%;
      min-width: 40rem;
      border-collapse: collapse;
      font-size: .9rem;

      thead {
        tr {
          th {
            border-bottom: 1px solid lightgray;
            font-weight: 600;
            text-align: left;
            padding: .8rem .5rem;
            background-color: $BUTTON_RED;
            color: white;
          }
        }
      }

      tbody {
        tr {
          td {
            border-bottom: 1px solid lightgray;
            padding: .5rem;
          }
        }

        div {
          p {
            padding: .5rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}