.userProfileView {
  margin: 2rem 5rem 0 380px;

  @media (max-width: 1150px) {
    margin: 2rem 1rem 0 316px;
  }

  @media (max-width: 1000px) {
    margin: 1rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }

    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $BUTTON_RED;

      p {
        margin-left: .3rem;
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      &__icon {
        font-size: 2rem !important;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (max-width: 700px) {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      p {
        margin-left: .3rem;
        text-transform: uppercase;
        font-size: 1rem;
      }

      &__icon {

        font-size: 2rem !important;
        margin-right: 1.5rem;

        @media (max-width: 700px) {
          margin-right: .5rem;
          font-size: 1.2rem !important;
        }
      }

      Button {
        background-color: $BUTTON_GREEN_LIGHT !important;
        color: black !important;
        font-size: .7rem !important;
        border-radius: unset;
        padding: .5rem 1rem;

        @media (max-width: 700px) {
          padding: .3rem;
        }
      }
    }
  }

  &__container {
    background-color: $INPUT_BG;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid lightgray;
      padding-bottom: .3rem;

      &__iconBox {
        display: flex;
        align-items: center;

        p {
          margin-left: .3rem;
          text-transform: uppercase;
          font-size: .8rem;
        }
      }

      Button {
        color: $BUTTON_RED;
        font-weight: 700 !important;
        font-size: .8rem !important;
        font-family: "poppins";
      }
    }

    &__details {
      margin-top: .5rem;
      display: flex;
      flex-direction: column;
      font-size: .8rem;
      margin-top: 1rem;


      &__detailsBox {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 700px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        input {
          width: 300px;
          border-radius: 1.5rem;
          outline: none;
          border: 1px solid lightgray;
          padding: .7rem 1rem;

          @media (max-width: 700px) {
            width: 100%;
          }
        }

        input::placeholder {
          // color: black;
          font-weight: 500;
        }

        div {
          @media (max-width: 700px) {
            width: 100%;
          }
        }

        div:nth-child(1) {
          width: 50%;
          margin-right: 1rem;
          margin-bottom: .5rem;

          @media (max-width: 700px) {
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
  }
}