//BASIC

// OTHER COLORS
$INPUT_BG: #EDF4F4;
$BUTTON_RED: #DD3333;
$BUTTON_GREEN: #5C8894;
$BUTTON_GREEN_LIGHT: #CADEDD;
$BG_PINK: #F8EFEF;
$LIGHTER_GRAY: #F1F1F0;
$BOX_SHADOW: 0 0.5rem 1.5rem #d3d3d3;
$BUTTON_BLUE: #2EA3F2;