.footer {
  padding-top: 4rem;
  background-image: url('./assets/FooterBG_image.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    transition: margin-left .5s;

    @media (max-width: 500px) {
      margin-left: 2rem;
    }

    &__logo {
      width: 80px;
    }

    &__top {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 3rem;
      justify-content: space-between;
      transition: flex-wrap 0.5s;

      &__box {
        width: 300px;
        font-size: .9rem;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        p {
          color: white;
        }

        a {
          color: white;
          text-decoration: unset;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__copyRight {
      font-size: .8rem;
      color: white;
      margin-top: 3rem;
    }
  }
}