.sidebar {
  background-color: $BUTTON_GREEN;
  width: 300px;
  height: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  position: fixed;

  &__header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    &__logo {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }

    &__flag {
      width: 30px;
      height: 20px;
      object-fit: cover;
      margin-left: 2rem;
    }

    &__icon {
      color: white !important;
      font-size: 2rem !important;
    }
  }

  &__linkButtons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


    &__link {
      display: flex;
      align-items: center;
      text-decoration: unset;
      margin: .5rem 0;
      margin-left: 3rem;

      p {
        margin-left: 1rem;
        color: white;
        font-size: .8rem;
      }

      &__icon {
        color: white;
        font-size: 1.8rem !important;
      }
    }

    a:hover,
    a:focus,
    :active {
      p {
        color: $BUTTON_RED !important;
      }

      &__icon {
        color: $BUTTON_RED !important;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      width: 100%;

      Button {
        background-color: $BUTTON_RED !important;
        color: white;
        border-radius: .5rem;
        margin: .5rem;
        width: 100%;
        padding: .5rem 0;
      }
    }
  }
}