html {
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }
  *:not(i),
  *::after:not(i),
  *::before:not(i) {
    font-family: "Poppins", sans-serif; }

body {
  box-sizing: border-box; }

.sidebar {
  background-color: #5C8894;
  width: 300px;
  height: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  position: fixed; }
  .sidebar__header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sidebar__header__logo {
      width: 80px;
      height: 80px;
      object-fit: cover; }
    .sidebar__header__flag {
      width: 30px;
      height: 20px;
      object-fit: cover; }
    .sidebar__header__icon {
      color: white !important;
      font-size: 2rem !important; }
  .sidebar__linkButtons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .sidebar__linkButtons__link {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: unset;
      margin: .5rem 0;
      margin-left: 3rem; }
      .sidebar__linkButtons__link p {
        margin-left: 1rem;
        color: white;
        font-size: .8rem; }
      .sidebar__linkButtons__link__icon {
        color: white;
        font-size: 2rem !important; }
    .sidebar__linkButtons__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      width: 100%; }
      .sidebar__linkButtons__buttons Button {
        background-color: #DD3333 !important;
        color: white;
        border-radius: .5rem;
        margin: .5rem;
        width: 100%;
        padding: .5rem 0; }

.navbar__sidebarLarge {
  overflow-y: scroll !important; }
  @media (max-width: 1000px) {
    .navbar__sidebarLarge {
      display: none !important;
      border: 3px solid red; } }

.navbar__sidebarDrawers {
  display: none !important; }
  @media (max-width: 1000px) {
    .navbar__sidebarDrawers {
      display: block !important; } }
  .navbar__sidebarDrawers__box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #DD3333;
    padding: .5rem 0; }

.authentication {
  display: flex;
  justify-content: center;
  align-items: center; }
  .authentication__container {
    display: flex;
    width: 100%; }
    .authentication__container__imageBox {
      width: 30%;
      min-width: 280px; }
      @media (max-width: 750px) {
        .authentication__container__imageBox {
          display: none; } }
      .authentication__container__imageBox img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        min-height: 100vh; }
    .authentication__container__formContainer {
      width: 70%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      transition: width 0.5s; }
      @media (max-width: 750px) {
        .authentication__container__formContainer {
          margin-top: 10%;
          width: 100%; } }
      .authentication__container__formContainer__heading {
        font-size: 1.2rem; }
      .authentication__container__formContainer__login {
        margin-top: 3rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 12px; }
      .authentication__container__formContainer__form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center; }
        .authentication__container__formContainer__form input {
          border-radius: 2rem;
          padding: .5rem .7rem;
          outline: none;
          border: none;
          width: 220px;
          background-color: #EDF4F4; }
        .authentication__container__formContainer__form__passwordBox {
          margin-top: 1rem; }
          .authentication__container__formContainer__form__passwordBox__password {
            padding-right: 3rem !important; }
          .authentication__container__formContainer__form__passwordBox__passwordIcon {
            position: absolute;
            margin-left: -2.5rem;
            margin-top: .3rem; }
        .authentication__container__formContainer__form__loginButton {
          background-color: #DD3333 !important;
          color: white !important;
          width: 120px !important;
          border-radius: .7rem !important;
          margin: 2rem 0 !important;
          padding: 5px 0 !important;
          font-weight: 400 !important;
          font-family: "poppins" !important; }
      .authentication__container__formContainer__forgotPassword {
        font-size: 14px;
        font-weight: 500;
        text-decoration: unset;
        color: black; }
      .authentication__container__formContainer__registerNow {
        margin-top: 3rem;
        border-top: 1px solid lightgray;
        display: flex;
        align-items: center;
        padding-top: .7rem; }
        .authentication__container__formContainer__registerNow a {
          text-decoration: unset; }
        .authentication__container__formContainer__registerNow p {
          margin-right: 1rem; }
        .authentication__container__formContainer__registerNow Button {
          text-transform: capitalize;
          color: white;
          background-color: #5C8894 !important;
          border-radius: .7rem !important;
          font-weight: 400 !important;
          font-size: 12px;
          font-family: "poppins";
          padding: 5px 15px !important; }
      .authentication__container__formContainer__registerHeading {
        font-size: 14px; }
      .authentication__container__formContainer__registerForm {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem; }
        .authentication__container__formContainer__registerForm div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 2rem;
          max-width: 500px;
          width: 100%; }
          @media (max-width: 475px) {
            .authentication__container__formContainer__registerForm div {
              justify-content: center;
              margin-top: 0rem; } }
          .authentication__container__formContainer__registerForm div input {
            border-radius: 2rem;
            padding: .5rem .7rem;
            outline: none;
            border: none;
            width: 220px;
            background-color: #EDF4F4;
            margin: .5rem;
            transition: width .5s; }
            @media (max-width: 475px) {
              .authentication__container__formContainer__registerForm div input {
                width: 100%; } }
        .authentication__container__formContainer__registerForm__registerButton {
          background-color: #DD3333 !important;
          color: white !important;
          width: 120px !important;
          border-radius: .7rem !important;
          margin: 3rem 0 0 0 !important;
          padding: 5px 0 !important;
          font-weight: 400 !important;
          font-family: "poppins" !important; }
          @media (max-width: 475px) {
            .authentication__container__formContainer__registerForm__registerButton {
              margin-top: 1rem !important;
              width: 95% !important; } }

.dashboard {
  margin-left: 300px;
  transition: margin-left 0.5s; }
  @media (max-width: 1000px) {
    .dashboard {
      margin-left: 0; } }
  .dashboard__container {
    display: flex;
    flex-direction: row;
    width: 100%; }
    .dashboard__container__content {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .dashboard__container__content__welcomePage {
        overflow: auto;
        background-color: #DD3333;
        margin: 1rem;
        width: 47%;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        height: 220px;
        transition: width 0.5s; }
        @media (max-width: 1450px) {
          .dashboard__container__content__welcomePage {
            width: 46%; } }
        @media (max-width: 1170px) {
          .dashboard__container__content__welcomePage {
            width: 45%; } }
        @media (max-width: 1150px) {
          .dashboard__container__content__welcomePage {
            width: 100%; } }
        .dashboard__container__content__welcomePage__heading {
          font-size: 2rem; }
        .dashboard__container__content__welcomePage__description {
          margin-top: 1rem;
          font-size: 1.2rem; }
        .dashboard__container__content__welcomePage__support {
          margin-top: 2rem; }
      .dashboard__container__content__userProfile {
        background-color: #EDF4F4;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        width: 47%;
        padding-bottom: 0;
        height: 220px;
        overflow: auto;
        transition: width 0.5s; }
        @media (max-width: 1450px) {
          .dashboard__container__content__userProfile {
            width: 46%; } }
        @media (max-width: 1170px) {
          .dashboard__container__content__userProfile {
            width: 45%; } }
        @media (max-width: 1150px) {
          .dashboard__container__content__userProfile {
            width: 100%; } }
        .dashboard__container__content__userProfile__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid lightgray;
          padding-bottom: .3rem; }
          .dashboard__container__content__userProfile__header__iconBox {
            display: flex;
            align-items: center; }
            .dashboard__container__content__userProfile__header__iconBox p {
              margin-left: .3rem;
              text-transform: uppercase;
              font-size: .8rem; }
          .dashboard__container__content__userProfile__header Button {
            color: #DD3333;
            font-weight: 700 !important;
            font-size: .8rem !important;
            font-family: "poppins"; }
        .dashboard__container__content__userProfile__details {
          margin-top: .5rem;
          display: flex;
          flex-direction: column;
          font-size: .8rem; }
          .dashboard__container__content__userProfile__details__detailsBox {
            margin-bottom: 1rem;
            display: flex; }
            .dashboard__container__content__userProfile__details__detailsBox p {
              width: 50%; }
      .dashboard__container__content__insuredClient {
        background-color: #EDF4F4;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        width: 47%;
        padding-bottom: 0;
        height: 220px;
        overflow: auto;
        transition: width 0.5s; }
        @media (max-width: 1450px) {
          .dashboard__container__content__insuredClient {
            width: 46%; } }
        @media (max-width: 1170px) {
          .dashboard__container__content__insuredClient {
            width: 45%; } }
        @media (max-width: 1150px) {
          .dashboard__container__content__insuredClient {
            width: 100%; } }
        .dashboard__container__content__insuredClient__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid lightgray;
          padding-bottom: .3rem; }
          .dashboard__container__content__insuredClient__header__iconBox {
            display: flex;
            align-items: center; }
            .dashboard__container__content__insuredClient__header__iconBox p {
              margin-left: .3rem;
              text-transform: uppercase;
              font-size: .8rem; }
          .dashboard__container__content__insuredClient__header Button {
            color: #DD3333;
            font-weight: 700 !important;
            font-size: .8rem !important;
            font-family: "poppins"; }
        .dashboard__container__content__insuredClient__details {
          margin-top: .5rem;
          display: flex;
          flex-direction: column;
          font-size: .8rem;
          overflow: auto; }
          .dashboard__container__content__insuredClient__details__table {
            min-width: 40rem; }
            .dashboard__container__content__insuredClient__details__table thead tr th {
              font-weight: normal;
              text-align: left; }
            .dashboard__container__content__insuredClient__details__table tbody tr td:nth-last-child(1) {
              text-align: right; }
              .dashboard__container__content__insuredClient__details__table tbody tr td:nth-last-child(1) Button {
                color: black;
                font-size: .8rem;
                font-family: "poppins"; }
      .dashboard__container__content__support {
        background-color: #EDF4F4;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        width: 47%;
        padding-bottom: 0;
        height: 220px;
        overflow: auto;
        transition: width 0.5s; }
        @media (max-width: 1450px) {
          .dashboard__container__content__support {
            width: 46%; } }
        @media (max-width: 1170px) {
          .dashboard__container__content__support {
            width: 45%; } }
        @media (max-width: 1150px) {
          .dashboard__container__content__support {
            width: 100%; } }
        .dashboard__container__content__support__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid lightgray;
          padding-bottom: .3rem; }
          .dashboard__container__content__support__header__iconBox {
            display: flex;
            align-items: center; }
            .dashboard__container__content__support__header__iconBox p {
              margin-left: .3rem;
              text-transform: uppercase;
              font-size: .8rem; }
          .dashboard__container__content__support__header Button {
            color: #DD3333;
            font-weight: 700 !important;
            font-size: .8rem !important;
            font-family: "poppins"; }
        .dashboard__container__content__support__details {
          margin-top: .5rem;
          display: flex;
          flex-direction: column;
          font-size: .8rem;
          overflow: auto; }
          .dashboard__container__content__support__details__table {
            min-width: 40rem; }
            .dashboard__container__content__support__details__table thead tr th {
              font-weight: normal;
              text-align: left; }
            .dashboard__container__content__support__details__table tbody tr td:nth-child(1) input {
              border: 2px solid black;
              outline: none !important; }
            .dashboard__container__content__support__details__table tbody tr td:nth-last-child(1) {
              text-align: right; }
              .dashboard__container__content__support__details__table tbody tr td:nth-last-child(1) Button {
                color: black;
                font-size: .8rem;
                font-family: "poppins"; }
      .dashboard__container__content__cavitasDocs {
        background-color: #EDF4F4;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        width: 47%;
        padding-bottom: 0;
        height: 220px;
        overflow: auto;
        transition: width 0.5s; }
        @media (max-width: 1450px) {
          .dashboard__container__content__cavitasDocs {
            width: 46%; } }
        @media (max-width: 1170px) {
          .dashboard__container__content__cavitasDocs {
            width: 45%; } }
        @media (max-width: 1150px) {
          .dashboard__container__content__cavitasDocs {
            width: 100%; } }
        .dashboard__container__content__cavitasDocs__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid lightgray;
          padding-bottom: .3rem; }
          .dashboard__container__content__cavitasDocs__header__iconBox {
            display: flex;
            align-items: center; }
            .dashboard__container__content__cavitasDocs__header__iconBox p {
              margin-left: .3rem;
              text-transform: uppercase;
              font-size: .8rem; }
          .dashboard__container__content__cavitasDocs__header Button {
            color: #DD3333;
            font-weight: 700 !important;
            font-size: .8rem !important;
            font-family: "poppins"; }
        .dashboard__container__content__cavitasDocs__details {
          margin-top: .5rem;
          display: flex;
          flex-direction: column;
          font-size: .8rem;
          overflow: auto; }
          .dashboard__container__content__cavitasDocs__details__table {
            min-width: 40rem; }
            .dashboard__container__content__cavitasDocs__details__table thead tr th {
              font-weight: normal;
              text-align: left; }
            .dashboard__container__content__cavitasDocs__details__table tbody tr td:nth-child(1) {
              width: 250px; }

.uploadForm {
  margin-left: 300px;
  padding-top: 10%;
  transition: margin-left 0.5s; }
  @media (max-width: 1000px) {
    .uploadForm {
      margin-left: 0; } }
  .uploadForm__container {
    display: flex;
    width: 100%; }
    .uploadForm__container__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .uploadForm__container__content p {
        margin-bottom: 2rem;
        font-size: 1.2rem; }
      .uploadForm__container__content__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .uploadForm__container__content__form input {
          border-radius: 2rem;
          padding: .5rem .7rem;
          outline: none;
          border: none;
          width: 300px;
          background-color: #EDF4F4;
          margin: .5rem 0; }
          @media (max-width: 475px) {
            .uploadForm__container__content__form input {
              width: 100%; } }
      .uploadForm__container__content Button {
        background-color: #DD3333 !important;
        color: white !important;
        width: 120px !important;
        border-radius: .7rem !important;
        margin: 1rem 0 0 0 !important;
        padding: 5px 0 !important;
        font-weight: 400 !important;
        font-family: "poppins" !important; }
        @media (max-width: 475px) {
          .uploadForm__container__content Button {
            margin-top: 1rem !important;
            width: 95% !important; } }
